.btn-blue {
  background-color: #ea3c3c;
  border-radius: 16px;
  font-size: 16px
  font-weight: bold;
  padding: 15px 30px;
  color: white;
}

.btn-blue:hover{
  background-color: #d62020;
}

.social {
  text-decoration: none;
  color: #EA3C3C;
  padding: 0 10px;
  font-size: 30px;
}

.social:hover {
  color: #c43333;
}
